<div class="container">
    <div class="page-header">
        <h1><a href="/list">Node.js + Express Board</a></h1>
        <p class="pull-right"><a href="/login">로그인/회원가입</a></p>
        <br>
    </div>
</div>