body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


*{
  padding : 0;
  margin : 0;
}

table{
  text-align: center;
}

.err{
  color: red;
  padding-top: 10px;
  padding-left: 140px;
  margin-bottom:-22px;
}

.success{
  color : green;
  padding-top: 10px;
  padding-left: 140px;
  margin-bottom:-22px;
}

#canEmail{
  padding-top: 0;
  margin-top: -5px;
}

#curPage{
  background-color : #337ab7;
  color:white;
}