body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


*{
  padding : 0;
  margin : 0;
}

table{
  text-align: center;
}

.err{
  color: red;
  padding-top: 10px;
  padding-left: 140px;
  margin-bottom:-22px;
}

.success{
  color : green;
  padding-top: 10px;
  padding-left: 140px;
  margin-bottom:-22px;
}

#canEmail{
  padding-top: 0;
  margin-top: -5px;
}

#curPage{
  background-color : #337ab7;
  color:white;
}


/************* Slide **************/
.div_sidebar{
  position: absolute !important;
  width : 16%;
  right : 0;
  top : 166px;
}
.col-sm-2{
  width: 100%;
}
.nav-sidebar {
  width: 100%;
  border-right: 1px solid #ddd;
}
.nav-sidebar a {
  color: #333;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
  cursor: default;
  background-color: #428bca;
  color: #fff;
  text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
  background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
  border-right: 0;
  border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}